#cityOptions {
    list-style-type: none;
}

header {
    background-image: linear-gradient(to right, dodgerblue, midnightblue);
    color: white;
    text-align: center;
}

h1, h3, h4, h5 , label{
    font-weight: bolder !important;
}
.allForecast ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
}

hr {
    width: 95%;
}

.citySearch {
    flex: 1 0 0;
}

.allForecast {
    flex: 3 0 0;
    min-width: 139px;
}

.noDisplayOnLoad {
    display: none;

}
.card-group{
    flex-wrap: wrap;

}
.card-body {
    background: steelblue;
    color: white;
    margin: 5px;
}
.card {
    border: none;
}

#todayTitle {
    justify-content: space-evenly;
}